<a href="https://colab.research.google.com/github/trankhanhduy20146093/BT_ngay_13_2_2023/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value1 = input("Nhập giá trị 1: ")
value2 = input("Nhập giá trị 2: ")
value1 = int(value1)
value2 = int(value2)
value1 + value2

In [ ]:
with open('text.txt',mode='w') as account:
  account.write('20146  Nguyễn văn A  10\n')
  account.write('20147 Lê văn B   9\n')
  account.write('20145 Trần văn C   8\n')

In [ ]:
with open('text.txt1',mode='w') as account:
  print('20146  Nguyễn văn A',file = account)
  print('20147  Lê văn B',file = account)
  print('20145  Trần văn C',file = account)

In [ ]:
with open('text.txt',mode='r') as account:
  print(f"{'mssv':<10}{'name':<20}{'score':>2}")
  for record in account:
    MSSV,Name,Score=record.split()
    print(f"{'mssv':<10}{'name':<20}{'score':>2}")

In [ ]:
import pandas as pd
url='data2.csv'
dataframe = pd.read_csv(url)
dataframe.head(21) #doc het 21 dong
dataframe.iloc[0:10]  #doc tu dong 0 toi 10
dataframe = dataframe.set_index(dataframe['Ho va ten'])
dataframe.loc['A'] #loc nhung ai ten A
dataframe[dataframe['Khoa']=='CNTT'].head(10)  #loc nhung nguoi thuoc khoa CNTT, KI TU THI '', SO THI KHONG CAN ''
dataframe[(dataframe['Khoa']=='CNTT') & (dataframe['Diem']==6)] #combo x2 loc
dataframe['Khoa'].replace('CNTT','Cong Nghe TT').head(21) #thay the ten khoa

print('Diem cao nhat',dataframe['Diem'].max()) #k caan chu thich
                                                #ngoai max con min, avr, count
dataframe['Khoa'].unique() #liet ke khoa gom nhung cai gi
dataframe['Khoa'].value_counts()#dem xem so luong thanh phan trong khoa VD  CKM     5
                                                                            #CNTP    4
dataframe.drop('MSSV',axis = 1).head(20)     #xoa di du lieu, neu can laay lai thi phai load lai
dataframe.drop(['MSSV','Khoa'],axis = 1).head(21)
dataframe.drop(dataframe.columns[3:4],axis = 1).head(21)             #xoa cot 2,3

dataframe[dataframe['Khoa']!='CKM'].head(10)   #hien thi khoa khac CKM

dataframe.drop_duplicates('Khoa').head(20) #nhom gia tri giong nhau xoa khoa thi se gom all lai

dataframe.groupby(['Khoa','Diem']).count()

dataframe.groupby('Khoa')['Diem'].count()

In [ ]:
import pandas as pd #doc du lieu tu cam bien voi tan so 1 tuan 1 lan
import numpy as np
time_index = pd.date_range('01/01/2023',periods=100000,freq='30s')
dataframe = pd.DataFrame(index=time_index)               #chu y viet hoa ham DataFrame
dataframe ['Acess.Amount'] = np.random.randint(1,10,100000)
dataframe.resample('W').sum() #W = week
dataframe.resample('W').sum() #W = week

In [157]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)
dataframe.head(30) #hien thi

#Tim so huy chuong cua 1 nuoc (CAN)
data1 = dataframe.set_index(dataframe['NOC'])
data1.loc['CAN']   #loc nuoc CAN
x = data1['Medal'].value_counts()
print('Tong huy chuong cua CAN \n',x)

#tim so huy chuong vang, bac trong cac che do ca nhan, dong doi
data2 = data1[data1['Event']=='Individual']     #loc che do ca nhan
y = data2['Medal'].value_counts()  #dem so huy chuong

print('So huy chuong che do ca nhan\n',y)
data3 = data1[data1['Event']=='pairs']     #loc che do dong doi
z =data3['Medal'].value_counts()  #dem so huy chuong

print('So huy chuong che do dong doi\n',z)

Tong huy chuong cua CAN
 Gold      774
Silver    773
Bronze    764
Name: Medal, dtype: int64
So huy chuong che do ca nhan
 Silver    1
Gold      1
Bronze    1
Name: Medal, dtype: int64
So huy chuong che do dong doi
 Gold      21
Bronze    20
Silver    19
Name: Medal, dtype: int64